.optb.correct {
    background-color: #d1fae5 !important;
    border-color: #10b981 !important;
    color: #065f46 !important;
    font-weight: bold;
}

.optb.wrong {
    background-color: #fee2e2 !important;
    border-color: #ef4444 !important;
    color: #991b1b !important;
    opacity: 0.8;
}

.lb.correct {
    background-color: #d1fae5 !important;
    border-color: #10b981 !important;
    color: #065f46 !important;
    font-weight: bold;
}

.lb.wrong {
    background-color: #fee2e2 !important;
    border-color: #ef4444 !important;
    color: #991b1b !important;
    opacity: 0.8;
}

.hip:checked+.lb .goob {
    border-color: #4f46e5;
    background-color: #4f46e5;
    /* داخلش سفید بماند */
}

.hip:checked+.lb .goob::after {
    content: '✓';
    animation: popIn 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes popIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}